@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	--color-primary: #326fcb;
	--color-secondary: #b8e986;

	/* Dark theme */
	--color-theme-hero-bg-dark: #18181b;
	--color-theme-articles-bg-dark: #242426;

	/* White theme */
	--color-theme-hero-bg-light: #fafafa;
	--color-theme-articles-bg-light: #ffffff;
}

body {
	font-family: 'Poppins', sans-serif;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Space Grotesk Variable', sans-serif;
}

article > div > img {
	transition: transform 0.3s ease;
}

article > div > img:hover {
	transform: scale(1.1);
}
