@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
	--color-primary: #326fcb;
	--color-secondary: #b8e986;

	/* Dark theme */
	--color-theme-hero-bg-dark: #18181b;
	--color-theme-articles-bg-dark: #242426;

	/* White theme */
	--color-theme-hero-bg-light: #fafafa;
	--color-theme-articles-bg-light: #ffffff;
}

html {
	scrollbar-gutter: stable;
}

body {
	font-family: 'Poppins', sans-serif;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Space Grotesk Variable', sans-serif;
}

h2 {
	scroll-margin-top: 100px;
}

article > div > img {
	transition: transform 0.3s ease;
}

article > div > img:hover {
	transform: scale(1.1);
}

pre {
	overflow: auto;
	position: relative;
}

.copy-button {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	background: #333;
	color: #fff;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	border-radius: 4px;
	cursor: pointer;
	z-index: 10;
	opacity: 0.7;
	transition: opacity 0.2s ease;
}

.copy-button:hover {
	opacity: 1;
}
