---
import { NavbarLogo } from '@/components/react/NavbarLogo'
import { navbarSections } from '@/constants/navbar-sections'
---

<header
	class='w-full fixed top-0 z-20 bg-gray-100 border-b-[1px] border-gray-200'
>
	<div class='w-5xl mx-auto flex items-center justify-between py-2'>
		<NavbarLogo client:load />
		<nav>
			<ul class='flex items-center gap-6'>
				{
					navbarSections.map(({ title, href }) => (
						<li class='hover:underline transition-all duration-300 ease-in cursor-pointer'>
							<a href={href}>{title}</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</header>
