---
import { getCollection } from 'astro:content'
import Post from '@/components/Post.astro'
import RightArrowIcon from '@/assets/svg/right-arrow.svg'

const homeArticles = [
	'web-development',
	'programming-fundamentals',
	'advanced-programming',
	'javascript',
	'object-oriented-programming',
]

const articles = await getCollection(
	'articles',
	({ slug, data: { ready } }) => homeArticles.includes(slug) && ready
)

articles.sort((a, b) => {
	const aDate = new Date(a.data.publishedAt).getDate()
	const bDate = new Date(b.data.publishedAt).getDate()

	return bDate - aDate
})
---

<main class='bg-theme-articles-bg-light w-full'>
	<div
		class='w-[320px] xs:w-[390px] sm:w-[700px] md:w-[800px] lg:w-5xl mx-auto py-[50px] px-5'
	>
		<div class='flex flex-wrap justify-center gap-8'>
			{
				articles.map(article => {
					const { slug, data } = article

					return <Post {...data} slug={slug} />
				})
			}
		</div>
		<div class='flex justify-center lg:justify-end mt-[50px]'>
			<a
				href='/articles'
				class='flex items-center gap-2 border-1 w-max px-4 py-2 border-primary text-primary cursor-pointer all-articles-btn hover:bg-primary hover:text-white'
				>Ver todos los artículos <RightArrowIcon class='w-6 h-6' /></a
			>
		</div>
	</div>
</main>
