<section class='bg-theme-hero-bg-light py-40 w-full'>
	<div class='w-5xl mx-auto'>
		<div class='flex items-center gap-6 justify-center'>
			<img
				src='/images/byb_logo.png'
				alt='Bit by Bit Logo'
				width='200'
				height='200'
			/>
			<div>
				<h1 class='font-bold text-6xl text-primary'>Bit by Bit</h1>
				<p class='text-xl mt-2 text-black'>
					Conviertete en un programador paso a paso
				</p>
			</div>
		</div>
	</div>
</section>
