---
// Supports weights 300-700
import '@fontsource-variable/space-grotesk'
import '@fontsource/poppins/400.css'
import '@fontsource/poppins/700.css'

import Topbar from '@/components/Topbar.astro'
import '@/styles/global.css'

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<title>{title}</title>
	</head>
	<body>
		<!-- <Topbar /> -->
		<slot />
	</body>
</html>
